<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home | Badger Parts</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/product-style.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/fontawesome.css" />
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <script src="/lib/cartUtils.js" type="text/javascript"/>
</head>

<body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
    <% const activeCategoryName = activeCategory? activeCategory.categoryName : 'Home'; %>
    <% const categoryQueryParam = activeCategory ? `categoryId=${activeCategory.categoryId}&` : ''; %>
		
    <%- include('header', {totalItemsInCart: totalItemsInCart, categories: categories, activeCategoryName: activeCategoryName, page: ""}) %>
    <% if(activeCategoryName === 'Home') {%>
      <%- include('hero', {activeCategoryName: activeCategoryName}) %>
    <% } %>
      <div class="container">
        <h2 class="page-heading page-heading_h1 page-heading_m-h1 category-title">
          <% if(activeCategoryName === 'Home') {%>
            All Products
          <%} else {%>
            Our <%= activeCategoryName %> Products
          <% } %>
        </h2>
        
          <%- include('products', {products: products}) %>
        <nav aria-label="Page navigation">
          <div class="container">
          <ul class="pagination justify-content-center">
            <% if (previousPage) {%>
              <li class="page-item">
                <a class="page-link" href="<%= previousPage %>" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
            <%} else {%>
              <li class="page-item disabled">
                <button class="page-link" aria-label="Previous" role="link" disabled>
                  <span aria-hidden="true">&laquo;</span>
                </button>
              </li>
            <% } %>
            <% for (let page = 1; page <= totalPages; page++) { %>
              <% if (page === currentPage) { %>
              <li class="page-item"><a class="page-link page-selected" href="/?<%= categoryQueryParam %>page=<%= page %>"><%= page %></a></li>            
              <% } else { %>
                <li class="page-item"><a class="page-link" href="/?<%= categoryQueryParam %>page=<%= page %>"><%= page %></a></li>            
                <% } %>
            <% } %>
            <% if (nextPage) {%>
              <li class="page-item">
                <a class="page-link" href="<%= nextPage %>" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            <%} else {%>
              <li class="page-item disabled">
                <button class="page-link" aria-label="Next" role="link" disabled>
                  <span aria-hidden="true">&raquo;</span>
                </button>
              </li>
            <% } %>
          </ul>
        </div>
        </nav>
      </div>
      <script>
        const addToCartButtons = document.querySelectorAll('.add-to-cart-btn');
        addToCartButtons.forEach(button => {
          button.addEventListener('click', async function(event) {
              event.preventDefault();
              const productId = this.dataset.productId;
              const productName = this.dataset.productName;
              const productDisplayUrl = this.dataset.productDisplayUrl;
              const productCount = 1;
              const cartItemsCount = await addToCart(productId, productName, productDisplayUrl, productCount);
      
              document.getElementById('cartItemsCount').innerText = cartItemsCount;
              showToastMessage("Added to cart.", "success");
          });
        });
      </script>
      <%- include('footer') %>
</body>

</html>